<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>App info</title>
  </head>
  <body>
    <h1>Información del sistema</h1>
    <h2>Plataforma:</h2><p class="p"><%= info.platform %></p>
    <h2>Versión de Node:</h2><p class="p"><%= info.nodeVersion %></p>
    <h2>Memoria total reservada:</h2><p class="p"><%= info.rss %></hp>
    <h2>Path de ejecución:</h2><p class="p"><%= info.execPath %></p>
    <h2>PID:</h2><p class="p"><%= info.pid %></p>
    <h2>Carpeta del proyecto:</h2><p class="p"><%= info.cwd %></p>
    <h2>Cantidad de CPU's:</h2><p class="p"><%= info.cpus %></p>
    <br />
    <br />
  </body>
</html>
